th {
    text-align: center;
}
td {
    text-align: center;
}

td button { 
    margin-left: 15px;
}

#btnCamera {
   margin-left: -15px;
}

#btnDetail {
    margin-right: -15px;
}

#thAction {
    width: 25%;
}
#tdAction {
    width: 25%;
}
#cardContainer {
    margin-top: 30px;
}