#title {
    height: 100px;
    width: 100%;;
    background-color:#FFFFFF;
    text-align: center;
    vertical-align: middle;
}

h5 {
    color:  	#8f9ba6;
}
h3 {
    padding-top: 15px;
}
label {
    font-weight: bold;
}
card-footer {
    text-align: center;
}
#btnSubmit {
    margin: 0 auto;
    display: block;
}