#divCardInfoStore  {
    margin: 0 auto ;
    margin-top: 70px;    
    display: block;
    text-align: center;
}

#divSelectType {
    margin-top: 10px;
}

canvas { 
    margin-top: 30px;
    margin-bottom: 30px;
}

#divCardInfoStore .card-header h4{
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}
#chartitem {
    margin-top: 30px;
 }
#divControl { 
    border-left: 0.2px grey solid;
}
#divSelectStore {
    margin-top: 40px;
    margin-bottom: 30px;
}

label{
    font-weight: bold;
}


#divSelectValue{
    padding-top: 20px;
}

#txtMuted{
    margin-top: 5px;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
.example-month-picker .mat-calendar-arrow {
    display: none;
  }

#bar0-2 {
    background-color:rgb(255, 193, 7);
}

#bar4-6 {
    background-color: rgb(99, 194, 222);
}

#bar8-12 {
    background-color: rgb(77, 189, 116);
}

#bar15-20 {
    background-color: rgb(248, 108, 107);
}

#bar25-32 {
    background-color: rgb(0, 178, 238);   
}

#bar38-43 {
    background-color: rgb(255 , 127 , 0);
}

#bar48-53 {
    background-color: rgb(102, 205, 170);
}

#bar60-100 {
    background-color:rgb(255, 69, 0);
}

#cardContainer {
    margin-top: 30px;
}