#divCardInfoArea  {
    margin: 0 auto ;
    margin-top: 30px;    
    display: block;
    text-align: center;
}

#divSelectType {
    margin-top: 10px;
}

#divCardInfoArea .card-header h4{
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}
#chartitem {
    margin-top: 30px;
 }
#divControl { 
    border-left: 0.2px grey solid;
}
#divSelectArea {
    margin-top: 20px;
    margin-bottom: 30px;
}

label{
    font-weight: bold;
}


#divSelectValue{
    padding-top: 20px;
}

#txtMuted{
    margin-top: 5px;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
.example-month-picker .mat-calendar-arrow {
    display: none;
  }

  #cardContainer {
    margin-top: 30px;
}