<div class="animated fadeIn">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let area of areas">
        <div class="card"  id="body">
          <div class="card-header" id="header">{{area.name}}
          </div>
          <div class="card-body">
            <img src="../../../assets/img/background/store5.jpg" />
          </div>
          <div class="card-footer" id ="footer">
            <span id="spanView" id="btnViewCamera">
              <button class="btn btn-info" type="button" [routerLink]="[area.id, 'camera']" routerLinkActive="active"  id="btnView"> View </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>