<html>
  <head>
    <title>Video Streaming</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
  	<script type="text/javascript">
  		$(document).ready(function(){
  			var socket = io.connect('http://127.0.0.1:5000');
  		});

  		socket.on('connect', function(){
  			socket.send('User has connected!');
  		});
  	</script>
    <h1>Video Streaming Demonstration</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
  </body>
</html>