th {
    text-align: center;
}
td {
    text-align: center;
}

td button { 
    margin-left: 15px;
}

#btnStore {
   margin-left: -15px;
}

#btnDetail {
    margin-right: -15px;
}

#thAction {
    width: 20%;
}
#tdAction {
    width: 20%;
}