<div class="animated fadeIn">
  <div class="card"  id="cardContainer">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Number of people</h4>
          <div class="medium text-muted" id="txtMuted" *ngIf="selectedValue != null">Date - {{selectedValue}}</div>
        </div>
        <div class="col-sm-7 d-none d-md-block" id="divSelectType" *ngIf="storeDetail != null">
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary " (click)="modeStatistic = 'month'">
              <input id="btnDay" type="radio" name="options" autocomplete="off" checked="true"> Month
            </label>
            <label class="btn btn-outline-secondary active" (click)="modeStatistic = 'day'">
              <input id="btnDay" type="radio" name="options" autocomplete="off" checked="true"> Day
            </label>
            <label class="btn btn-outline-secondary" (click)="modeStatistic = 'time'">
              <input id="btnMonth" type="radio" name="options" autocomplete="off"> Time
            </label>
          </div>
        </div>
      </div>
      <div class="row" id="divSelectValue" *ngIf="storeDetail != null">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right mr-3" *ngIf="modeStatistic == 'month'">
            <app-monthyearpicker [monthFromParentComponent]="selectedValueMonth" (month)="catchSelectedMonth($event)"></app-monthyearpicker>
          </div>
          <div class="btn-group btn-group-toggle float-right mr-3" *ngIf="modeStatistic == 'day'">
            <app-fulldatepicker [dateFromParentComponent]="selectedValueDate" (date)="catchDate($event)"></app-fulldatepicker>
          </div>
          <div class="btn-group btn-group-toggle float-right mr-3" *ngIf="modeStatistic == 'time'">
            <form [formGroup]="selectTimeForm">
              <div class="form-group row">
                <div class="col-md-6">
                  <select id="timeFrom" name="select1" class="form-control" formControlName="timeFrom"
                    (change)="chooseTimeFrom()">
                    <option *ngFor="let time of listTimeFrom" value="{{time}}">{{time}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select id="timeTo" name="select1" class="form-control" formControlName="timeTo"
                    (change)="chooseTimeTo()">
                    <option *ngFor="let time of listTimeTo" value="{{time}}">{{time}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-body">
      <div class="row"  >
        <div class="col-sm-9" >
          <!-- Chart -->
          <div class="flex" id="chartitem">
            <div class="flex-item" id="itemSta">
              <div>
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- Store -->
        <div class="col-sm-3" id="divControl">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"
            [formGroup]="storeDetailForm">
            <div class="row" id="divSelectStore">
              <label class="col-md-5 col-form-label" for="text-input" for="iputID"> Store: </label>
              <div class="col-md-7">
                <select class="form-control" id="select1" name="select1" formControlName="storeName"
                  placeholder="Select store: " (change)="chooseStore()">
                  <option value="" disabled selected>Select store: </option>
                  <option *ngFor="let store of listStore" value="{{store.id}}">{{store.name}}</option>
                </select>
              </div>
            </div>
            <div class="row" id="divCardInfoStore">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Store Detail</h4>
                </div>
                <div class="card-body">

                  <!-- Address -->
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input" for="iputID"> Address: </label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" readonly=true formControlName="storeAddress">
                    </div>
                  </div>

                  <!-- Phone -->
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input" for="iputID"> Phone: </label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" readonly=true formControlName="storePhone">
                    </div>
                  </div>

                  <!-- Status
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="text-input" for="iputID"> Status: </label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" readonly=true formControlName="storeStatus">
                    </div>
                  </div> -->

                  <!-- Zone -->
                  <div class="form-group row" *ngFor="let zone of listZone">
                    <label class="col-md-5 col-form-label" for="text-input" for="iputID"> Zone: </label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" readonly=true value="{{zone.name}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>