button{
    margin-right: 5px;
}
label {
    font-weight: bold;
}
#cardContainer {
    margin-top: 30px;
}

#btnChooseFile {
    display: inline !important;
    color: transparent;
    margin-top: 10px;
}
  