<div class="animated fadeIn" id="container">
  <div class="row" id="divTitle">
    <h2 mat-dialog-title id="title">Statistic by {{title}}</h2>
  </div>
  <mat-dialog-content [formGroup]="form">

    <div class="row" *ngIf="title === 'camera'">
      <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Camera IP: </label>
      <div class="col-md-8">
        <select class="form-control" id="select1" name="select1" formControlName="value" placeholder="Select camera IP">
          <option value="" disabled selected>Select camera IP</option>
          <option *ngFor="let cam of listCamera" value="{{cam.ip}}">{{cam.ip}}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="title === 'area'">
      <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Area: </label>
      <div class="col-md-8">
        <select class="form-control" id="select1" name="select1" formControlName="value" placeholder="Select area name">
          <option value="" disabled selected>Select area: </option>
          <option *ngFor="let area of listArea" value="{{area.id}}">{{area.name}}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="title === 'store'">
      <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Store: </label>
      <div class="col-md-8">
        <select class="form-control" id="select1" name="select1" formControlName="value" placeholder="Select store name">
          <option value="" disabled selected>Select store: </option>
          <option *ngFor="let store of listStore" value="{{store.id}}">{{store.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Day: </label>
      <div class="col-md-8">
        <app-fulldatepicker [dateFromParentComponent]="selectedValueDate" (date)="catchDate($event)"></app-fulldatepicker>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="btn btn-info" id="btnShowStatistic" (click)="showStatistic()">
      <i class="icon-graph"></i> Show Statistic</button>
  </mat-dialog-actions>
</div>