<html>
<head>
<title>Stream Room</title>
<script type="text/javascript" src="../static/js/socket.io.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/page/index_view.js"></script>
<style>
    .Live{
        position: absolute;
    }
</style>
</head>
<body>
	
<h1>Streaming</h1>
<!-- <img id="frame_1" width="640px"height="480px"> -->
<img id="frame_1" class="Live" width="640px"height="480px">
<img id="frame_2" class="Live" width="640px"height="480px">
</body>
</html>