<div class="animated fadeIn">
  <div class="card" id="cardContainer">
    <div class=card-header>
      <i class="fa fa-align-justify" > Account </i>
    </div>
    <div class="card-body">
      <div class="form-group" [formGroup]="accountForm">
        <div class="input-group">
            <span class="input-group-prepend">
                <button type="button" class="btn btn-primary" [routerLink]="['add']" routerLinkActive="active" *ngIf="storeID == null">
                    <i class="fa fa-user-plus"> Add </i>
                </button>
                <button type="button" class="btn btn-primary" [routerLink]="['addAccountStore']" routerLinkActive="active" *ngIf="storeID != null">
                  <i class="fa fa-user-plus"> Add </i>
              </button>
            </span>
          <input type="text" class="form-control" placeholder="Search by username ..." formControlName="searchValue"/>
          <span class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="searchByUsernameOrFullname(accountForm.get('searchValue').value)">
              <i class="fa fa-search"></i> Search </button>
          </span> 
        </div>
      </div>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Status</th>
            <th id="thAction">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let account of accounts">
            <td>{{account.username}}</td>
            <td>{{account.fullName}}</td>
            <td>{{account.email}}</td>
            <td>{{account.phone}}</td>
            <td *ngIf="account.gender == 0">
              <i class="icon-symbol-male"></i>
            </td>
            <td *ngIf="account.gender == 1">
              <i class="icon-symbol-female"></i>
            </td>
            <td *ngIf="account.gender == 2">
              <i class="icon-user"></i>
            </td>
            <td *ngIf="account.role == true">
              Adminstrator
            </td>
            <td *ngIf="account.role == false">
              Manager
            </td>
            <td  *ngIf="account.status == 'active'"> 
              <span class="badge badge-success">Active</span>
            </td>
            <td *ngIf="account.status == 'inactive'">
              <span class="badge badge-secondary" >Inactive</span>
            </td>
            <td id="tdAction">
                <button type="button" class="btn btn-success" id="btnStore" [routerLink]="[account.id, 'all', 'store']" routerLinkActive="active" *ngIf="account.status == 'active' && storeID == null">
                    View Store
                </button>
                <button type="button" class="btn btn-success" id="btnStore" [routerLink]="[account.id, 'all', 'store']" routerLinkActive="active" *ngIf="account.status == 'inactive' && storeID == null" disabled="true">
                    View Store
                </button>
                <button type="button" class="btn btn-danger" id="btnDelete" (click)="deleteAccountInStore(account.id, account.username)"  *ngIf="storeID != null" >
                    Delete
                </button>
                <button type="button" class="btn btn-info" id="btnDetail" [routerLink]="['detail', account.id]" routerLinkActive="active">
                    Detail
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>