<div class="animated fadeIn">
  <div class="card" id="cardContainer">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Number of people</h4>
          <div class="medium text-muted" id="txtMuted" *ngIf="selectedValue != null">Date: {{selectedValue}}</div>
        </div>
        <div class="col-sm-7 d-none d-md-block" id="divSelectType" *ngIf="cameraDetail != null">
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary " (click)="modeStatistic = 'month'">
              <input id="btnDay" type="radio" name="options" autocomplete="off" checked="true"> Month
            </label>
            <label class="btn btn-outline-secondary active" (click)="modeStatistic = 'day'">
              <input id="btnDay" type="radio" name="options" autocomplete="off" checked="true"> Day
            </label>
            <label class="btn btn-outline-secondary" (click)="modeStatistic = 'time'">
              <input id="btnMonth" type="radio" name="options" autocomplete="off"> Time
            </label>
          </div>
        </div>
      </div>
      <div class="row" id="divSelectValue" *ngIf="cameraDetail != null">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right mr-3" *ngIf="modeStatistic == 'month'">
            <app-monthyearpicker [monthFromParentComponent]="selectedValueMonth" (month)="catchSelectedMonth($event)">
            </app-monthyearpicker>
          </div>
          <div class="btn-group btn-group-toggle float-right mr-3" *ngIf="modeStatistic == 'day'">
            <app-fulldatepicker [dateFromParentComponent]="selectedValueDate" (date)="catchDate($event)">
            </app-fulldatepicker>
          </div>
          <div class="btn-group btn-group-toggle float-right mr-3" *ngIf="modeStatistic == 'time'">
            <form [formGroup]="selectTimeForm">
              <div class="form-group row">
                <div class="col-md-6">
                  <select id="timeFrom" name="select1" class="form-control" formControlName="timeFrom"
                    (change)="chooseTimeFrom()">
                    <option *ngFor="let time of listTimeFrom" value="{{time}}">{{time}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select id="timeTo" name="select1" class="form-control" formControlName="timeTo"
                    (change)="chooseTimeTo()">
                    <option *ngFor="let time of listTimeTo" value="{{time}}">{{time}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-9">
          <!-- Chart -->
          <div class="flex">
            <div class="flex-item" id="itemSta">
              <div style="display: block;">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- Camera -->
        <div class="col-sm-3" id="divControlCamera">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"
            [formGroup]="cameraDetailForm">

            <div class="row" id="divSelectCamera">
              <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Store: </label>
              <div class="col-md-8">
                <select class="form-control" id="select1" name="select1" formControlName="storeID"
                  placeholder="Select store name" (change)="chooseStore()">
                  <option value="" disabled selected>Select store name</option>
                  <option *ngFor="let store of listStore" value="{{store.id}}">{{store.name}}</option>
                </select>
              </div>
            </div>

            <div class="row" id="divSelectCamera">
              <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Zone: </label>
              <div class="col-md-8">
                <select class="form-control" id="select1" name="select1" formControlName="zoneID"
                  placeholder="Select zone name" (change)="chooseZone()">
                  <option value="" disabled selected>Select zone name</option>
                  <option *ngFor="let zone of listZone" value="{{zone.id}}">{{zone.name}}</option>
                </select>
              </div>
            </div>

            <div class="row" id="divSelectCamera">
              <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Camera: </label>
              <div class="col-md-8">
                <select class="form-control" id="select1" name="select1" formControlName="cameraIP"
                  placeholder="Select camera IP" (change)="chooseCamera()">
                  <option value="" disabled selected>Select camera IP</option>
                  <option *ngFor="let cam of listCamera" value="{{cam.ip}}">{{cam.name}}</option>
                </select>
              </div>
            </div>

            <div class="row" id="divCardInfoCamera">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Camera Detail</h4>
                </div>
                <div class="card-body">

                  <!-- Zone -->
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Account: </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" readonly=true formControlName="cameraAccount">
                    </div>
                  </div>

                  <!-- Store -->
                  <div class="form-group row">
                    <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Password: </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" readonly=true formControlName="cameraPassword">
                    </div>
                  </div>

                  <!-- Status
                  <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="text-input" for="iputID"> Status: </label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" readonly=true formControlName="cameraStatus">
                      </div>
                  </div> -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>