<div class="animated fadeIn">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let camera of cameras">
        <div class="card" id="body">
          <div class="card-header" id="header">{{camera.name}}</div>
          <div class="card-body">
            <img src="../../../assets/img/background/cameraicon.png" id="imgCamera" />
            
          </div>
          <div class="card-footer" id="footer">
            <span id="spanView" id="btnDetail">
              <button class="btn btn-info" type="button" [routerLink]="[camera.id, 'detail']" routerLinkActive="active" id="btnView">
                Live Preview</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>