<div class="animated fadeIn" id="container">
  <div class="row" id="firstTitle">
    <h2 mat-dialog-title id="title">Heatmap in {{date}} </h2>
  </div>
  <div class="row" id="secondTitle">
    <h5 mat-dialog-title id="title">From: {{from}} - To: {{to}}</h5>
  </div>
  <mat-dialog-content>

    <div class="container">
      <div class="row">
        <div class="col-md-12 py-3">
          <ngb-carousel *ngIf="listCameraDetail" (slide)="onSlide($event)">
            
            <ng-template ngbSlide *ngFor="let camera of listCameraDetail">
              
              <img [src]="camera.imageUrl" alt="Random slide" id="imgUrl"  *ngIf="camera.imageUrl !== undefined || camera.imagePreview != null">
              <img [src]="previewHeatmapSrc"  alt="Random slide" id="imgPreview"  *ngIf="previewHeatmapSrc !== undefined || previewHeatmapSrc != null ">
              <div class="carousel-caption">
                  <h4>{{ camera.name }}</h4>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="btn btn-secondary " id="btnCancel" (click)="close()">
      <i class="icon-close"></i> Close</button>
  </mat-dialog-actions>
</div>