<div class="animated fadeIn" id="container">
  <div class="row" id="firstTitle">
    <h2 mat-dialog-title id="title">Heatmap in {{date}} </h2>
  </div>
  <div class="row" id="secondTitle">
    <h5 mat-dialog-title id="title">From: {{from}} - To: {{to}}</h5>
  </div>
  <mat-dialog-content>
    <div id="containerContent">
      <div *ngFor="let camera of listCameraDetail" id="content">
        <div class="card">
          <div class="card-header" id="header">Camera {{camera.id}}
          </div>
          <div class="card-body" id="body">
            <img [src]="camera.imageUrl" id="imgPreview" />
            <img [src]="camera.imagePreview" id="imgPreviewHeatmap"/>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="btn btn-secondary " id="btnCancel" (click)="close()">
      <i class="icon-close"></i> Close</button>
  </mat-dialog-actions>
</div>