.mat-dialog-content label{
    font-weight: bold;
    font-size: 15px;
}


.mat-dialog-content .row {
    margin-bottom: 10px;
}

#containerContent { 
    display: table;
    width: 100%;
}

#containerContent > #content {
    display: table-cell;
    width: auto;
    text-align: center;
    padding: 5px;

}

#container {
    width: 800px;
    height: 100%;
}

#title {
    margin: 0 auto ;
    display: block;
    font-weight: bold;
}

#secondTitle {
    margin-bottom: 20px;
}
#btnCancel {
    margin: 0 auto ;
    display: block;
    font-weight: bold;
    font-size: 17px;
}

#body {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}


#imgPreview{
    position: absolute;
    height: 100%; width: 100%;
    z-index:1;  
    // margin-left: 15px;
}


#imgPreviewHeatmap{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index:2;
    // margin-left: 15px;

}


#imgUrl{
    height: 400px;
    width: 800px;
    z-index:1;  
}


#imgPreview{
    height: 400px;
    width: 800px;
    top: 0px;
    left: 0px;
    // z-index:2;

}

h4 {
    color:black;
}

// #header {
//     height: 100px;
//     background-color: #C92;
//     position: relative;
// }

// #body {
//     padding: 5px;
// }